.open-source-example {
  max-width: 320px;
  float: left;
  padding-left: 100px;

  h2 {
    margin-bottom: 10px;
  }

  ul {
    margin-top: 9px;
    list-style: none;

    li {
      margin-bottom: 1px;
    }
  }
}
