@charset "UTF-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  font-family: "freight-text-pro";
  font-weight: 400;
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

// Install and configure Bourbon / Neat
@import "bourbon";
@import "neat";

$gutter: em(10);
$grid-columns: 12;
$max-width: em(1200);

$mobile:  new-breakpoint(max-width 640px  $grid-columns);
$tablet:  new-breakpoint(max-width 1020px $grid-columns);
$desktop: new-breakpoint(min-width 1021px $grid-columns);

// Site styles
.wrapper {
  @include outer-container;
  padding: 50px 40px;

  > aside {
    @include span-columns(3);

    @include media($mobile) {
      @include span-columns(12);
    }

    img {
      max-width: 100%;
    }

    p.email {
      padding: 22px 0;

      a {
        color: #222;
        text-decoration: none;
      }
    }

    ul.contact-options {
      list-style: none;

      li {
        padding: 3px 0 3px 28px;
        background-position: center left;
        background-size: 18px;
        background-repeat: no-repeat;

        a {
          font-size: 16px;
          text-decoration: none;
          color: #222;
        }

        &.github {
          background-image: url('/assets/images/logos/github.svg');
        }

        &.twitter {
          background-position: 0 7px;
          background-image: url('/assets/images/logos/twitter.svg');
        }
      }
    }
  }

  > main {
    @include span-columns(8);
    max-width: 590px;

    @include media($mobile) {
      @include span-columns(12);
      padding-top: 50px;
      max-width: none;
    }

    header {
      max-width: 560px;

      h1 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 25px;
      }

      h2 {
        font-size: 20px;
        font-weight: 400;
      }
    }

    p.hire {
      a {
        font-size: 18px;
        font-weight: 600;
        color: #00BCE4;
        text-decoration: none;
      }
    }

    article {
      h3 {
        font-size: 26px;
        font-style: italic;
        font-weight: 400;
        border-bottom: solid 2px #222;
        padding-bottom: 10px;
        padding-top: 40px;
        margin-bottom: 40px;
      }

      ul.skill-set {
        @include display(flex);
        @include align-items(center);
        @include justify-content(space-between);
        @include flex-wrap(wrap);
        list-style: none;

        li {
          min-width: 100px;
          min-height: 165px;
          margin-bottom: 25px;
          float: left;

          @include media($tablet) {
            width: 113px;
          }

          img {
            display: block;
            margin: 0 auto 15px;
          }

          span {
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            display: block;

            span {
              font-size: 14px;
              font-style: italic;
              font-weight: 400;
            }
          }
        }
      }

      .work-example {
        @include row;

        h4 {
          font-size: 24px;
          font-weight: 700;
        }

        p.link {
          margin-bottom: 25px;

          a {
            font-size: 16px;
            font-weight: 700;
            text-decoration: none;
            color: #00BCE4;
          }
        }

        img {
          display: block;
          width: 360px;
          height: 206px;
          position: relative;
          top: -25px;
          float: right;

          @include media($mobile) {
            display: none;
          }
        }

        p.description {
          font-size: 16px;
          font-weight: 400;
          line-height: 23px;
          max-width: 190px;
          float: left;

          @include media($mobile) {
            float: none;
            max-width: none;
          }
        }
      }

      ul.work-history {
        margin-left: 25px;

        li {
          font-size: 20px;

          &:not(:last-child) {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
