@keyframes drip {
  from {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  font-family: "Zilla Slab", serif;
  color: #222;
  border: 0;
  margin: 0;
  padding: 0;
  font-weight: 400;
  background: none; }

img {
  max-width: 100%; }

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px; }
  .wrap::after {
    clear: both;
    content: "";
    display: block; }
  @media (max-width: 640px) {
    .wrap {
      padding: 0 20px; } }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #222; }

h1 {
  font-size: 20px;
  line-height: 24px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 16px; }

h4 {
  font-size: 14px; }

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  padding: 9px 0;
  color: #222; }

a {
  color: #E04646;
  text-decoration: underline; }

.site-wrapper {
  display: flex;
  padding: 40px; }
  @media (max-width: 640px) {
    .site-wrapper {
      flex-direction: column; } }

.sidebar {
  -webkit-animation: drip 1s ease forwards;
  -moz-animation: drip 1s ease forwards;
  animation: drip 1s ease forwards;
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
  opacity: 0;
  width: 285px; }
  @media (max-width: 640px) {
    .sidebar {
      padding-bottom: 50px; } }
  .sidebar a {
    font-size: 18px;
    color: #222;
    display: inline-block;
    text-decoration: none; }
    .sidebar a.email {
      margin: 30px 0; }
  .sidebar img {
    display: block; }
  .sidebar ul.social {
    list-style: none; }
    .sidebar ul.social li {
      margin-bottom: 3px; }
      .sidebar ul.social li.github a {
        background-image: url("assets/images/github.svg"); }
      .sidebar ul.social li.twitter a {
        background-image: url("assets/images/twitter.svg"); }
      .sidebar ul.social li a {
        padding-left: 30px;
        background: transparent center left no-repeat;
        background-size: 17px; }

.meat-and-potatoes {
  -webkit-animation: drip 1s ease forwards;
  -moz-animation: drip 1s ease forwards;
  animation: drip 1s ease forwards;
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  animation-delay: 1.4s;
  opacity: 0;
  width: 380px; }
  @media (max-width: 1020px) {
    .meat-and-potatoes {
      padding-left: 25px; } }
  @media (max-width: 640px) {
    .meat-and-potatoes {
      padding-top: 50px;
      padding-left: 0; } }
  .meat-and-potatoes h1 {
    margin-bottom: 10px; }
  .meat-and-potatoes h2 {
    margin-top: 30px;
    margin-bottom: 15px; }
  .meat-and-potatoes ul {
    margin-left: 30px; }
    .meat-and-potatoes ul li {
      padding-left: 10px;
      padding-bottom: 2px; }

.open-source-example {
  -webkit-animation: drip 1s ease forwards;
  -moz-animation: drip 1s ease forwards;
  animation: drip 1s ease forwards;
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  animation-delay: 1.8s;
  opacity: 0;
  max-width: 320px;
  padding-left: 100px; }
  @media (max-width: 1020px) {
    .open-source-example {
      padding-left: 25px; } }
  @media (max-width: 640px) {
    .open-source-example {
      padding: 50px 0; } }
  .open-source-example h2 {
    margin-bottom: 10px; }
  .open-source-example ul {
    margin-top: 9px;
    list-style: none; }
    .open-source-example ul li {
      margin-bottom: 1px; }
